<div class="container text-center">
<h1>About Page</h1>
<p>We are DevMatch. Our focus is on creating an exclusive community
for developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, mollitia ad earum sunt! Officiis vero repellendus perferendis veritatis esse adipisci sequi velit, eaque quasi. Quis reprehenderit molestiae in itaque fugit!
</p>
</div>